body{
    font-family: 'Poppins', sans-serif;
}
.btn-color{
    background-color: #21B573;
    color: white;
}
.navbar-container, .navbar-bg, .banner-container{
    background-color: #F0FFF0;
}
.redtype-color{
    color: #FD511A;
}
.greentype-color{
    color:#21B573;
}
.purpletype-color{
    color: #6f4a8e;
}
.line-space{
    line-height: 35px;
}
.heading-size{
    font-size: 50px;
    line-height: 70px;
}
.info-bg{
    background-color: #F8FFFB;
}
.info-br{
    border-radius: 10px;
}
.card{
    border: none;
}
.card-body{
    padding: 0;
}
.testimonial-container p{
    margin-top: 20px;
    line-height: 25px;
}
.footer-container{
    background-color:#282531;
}
.footer-container ul li{
    list-style-type: none;
    font-size: 15px;
    line-height: 30px;
}